body{
  margin: 0;
  padding: 0;
  background: black;
}
.absolute{
  width: 100%;
  height: 100%;
  position: absolute;
}
#game_terrain{
  border: solid;
  opacity: 1;
}
.space-Mono{
  font-family: 'Space Mono', monospace;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
  
}